
.sidebar_menu li a,
.sidebar_menu li button
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #bdc4d1;
    transition: .5s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.sidebar_menu li button svg,
.sidebar_menu li a svg{
    color: #bdc4d1 !important;
}

.sidebar_menu li a:hover,
.sidebar_menu li button:hover
{
    /* background-color: var(--main-bg); */
    /* border-radius: 0 10px 10px 0; */
    color: var(--menu-color) !important;
}   

.sidebar_menu li a:hover svg,
.sidebar_menu li button:hover svg{
    color: var(--menu-color) !important;
}

.sidebar_menu li a svg,
.sidebar_menu li button svg
{
    pointer-events: none;
    color: var(--primary);
    transition: .5s;
}

.sidebar_menu li ul{
    margin-left: 20px;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.list{
    pointer-events: none;
}